<tr>
  <td><%= reservation.published %></td>
  <td><%= reservation.name %></td>
  <td><%= reservation.title %></td>
  <td><%= link_to '자세히 보기', reservation %></td>
  <td><%= link_to '수정하기', edit_reservation_path(reservation) %></td>
  <td><%= link_to '삭제하기', reservation, method: :delete, data: { confirm: '정말 삭제 하시겠습니까?' } %></td>
</tr>