<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @reservation.name %>
			</p>
			<p>
			  <%= @reservation.title %>
			</p>
			<p>
			  <%= @reservation.content %>
			</p>
			<p>
			  <%= @reservation.published %>
			</p>
			<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
			<%= link_to 'Back', reservations_path %>
		</div>
	</div>
</div>